@model List<CategoryDto>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Çöp Kutusu /</span> Kategoriler</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">Table Basic</h5>
        <div class="table-responsive text-nowrap m-5">
            <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Oluşturma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var category in Model)
                    {
                        <tr name="@category.Id">
                            <th>@category.Name</th>
                            <th>@category.CreatedDate.ToShortDateString()</th>
                            <th>@category.CreatedBy</th>
                            <th>@(category.IsDeleted ? "Aktif Değil" : "Aktif")</th>
                            <th>
                                <a class="btn btn-warning btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="UndoDelete" asp-route-categoryId="@category.Id"><i class="bx bx-undo"></i></a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->

</div>

@section Scripts{
    <script src="~/js/articleindex.js" type="application/ecmascript"></script>
}